<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Siebwalde_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Siebwalde_Application.Properties.Settings>
            <setting name="FIDDLExYARDxSIMxSPEEDxSETTING" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SETxCOLORxTRACKxOCCUPIED" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="SETxCOLORxTRACKxNOTxINITIALIZED" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="SETxCOLORxTRACKxNOTxACTIVE" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="SETxCOLORxTRACKxEMPTY" serializeAs="String">
                <value>Lime</value>
            </setting>
        </Siebwalde_Application.Properties.Settings>
    </userSettings>
</configuration>