<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiebwaldeApp.Core.Properties.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SiebwaldeApp.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiebwaldeApp.Core.Properties.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SiebwaldeApp.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SiebwaldeApp.Core.Properties.CoreSettings>
            <setting name="dummy" serializeAs="String">
                <value />
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>C:\\Localdata\\Siebwalde\\Logging\\</value>
            </setting>
            <setting name="FYSendingport" serializeAs="String">
                <value>28671</value>
            </setting>
            <setting name="FYReceivingport" serializeAs="String">
                <value>28672</value>
            </setting>
            <setting name="TrckSendingPort" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="TrckReceivingPort" serializeAs="String">
                <value>10001</value>
            </setting>
        </SiebwaldeApp.Core.Properties.CoreSettings>
        <SiebwaldeApp.Core.Properties.Settings>
            <setting name="dummy" serializeAs="String">
                <value />
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>C:\\Localdata\\Siebwalde\\Logging\\</value>
            </setting>
            <setting name="FYSendingport" serializeAs="String">
                <value>28671</value>
            </setting>
            <setting name="FYReceivingport" serializeAs="String">
                <value>28672</value>
            </setting>
            <setting name="TrckSendingPort" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="TrckReceivingPort" serializeAs="String">
                <value>10001</value>
            </setting>
        </SiebwaldeApp.Core.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SiebwaldeApp.Core.Properties.CoreSettings>
            <setting name="FIDDLExYARDxSIMxSPEEDxSETTING" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SETxCOLORxTRACKxOCCUPIED" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="SETxCOLORxTRACKxNOTxINITIALIZED" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="SETxCOLORxTRACKxNOTxACTIVE" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="SETxCOLORxTRACKxDISABLED" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="SETxCOLORxTRACKxDISABLEDxNOTxOCCUPIED" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="UseFakeHardwareAdapters" serializeAs="String">
                <value>True</value>
            </setting>
        </SiebwaldeApp.Core.Properties.CoreSettings>
        <SiebwaldeApp.Core.Properties.Settings>
            <setting name="FIDDLExYARDxSIMxSPEEDxSETTING" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SETxCOLORxTRACKxOCCUPIED" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="SETxCOLORxTRACKxNOTxINITIALIZED" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="SETxCOLORxTRACKxNOTxACTIVE" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="SETxCOLORxTRACKxDISABLED" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="SETxCOLORxTRACKxDISABLEDxNOTxOCCUPIED" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </SiebwaldeApp.Core.Properties.Settings>
    </userSettings>
</configuration>