/Logging/10-1-2024_SiebwaldeApp.CoreLog.txt
.vs
obj
build
TrackControllerPic18.X.production.hxl
TrackControllerPic18.X.production.lst
TrackControllerPic18.X.production.map
TrackControllerPic18.X.production.mum
TrackControllerPic18.X.production.o
TrackControllerPic18.X.production.rlf
TrackControllerPic18.X.production.sdb
TrackControllerPic18.X.production.sym
doprnt.d
doprnt.i
doprnt.p1
memoryfile.xml
TrackControllerPic18.X.production.cmf
TrackControllerPic18.X.production.elf
bin
net8.0-windows
